<!DOCTYPE html>
<html>
	<% include head.ejs %>
	<script>
    var colors = {
      palette: ['#F44336', '#E91E63', '#9C27B0', '#673AB7', '#3F51B5', '#2196F3', '#03A9F4', '#00BCD4', '#009688', '#4CAF50', '#8BC34A', '#CDDC39', '#FFEB3B', '#FFC107', '#FF9800', '#FF5722', '#795548', '#9E9E9E', '#607D8B'],
      getRandom: function() {
        var rand = Math.floor((Math.random() * this.palette.length) + 1);
        return this.palette[rand - 1];
      }
    }
    var listHeight = '150px';
    $(function() {
      // pulse heart button
      $('.heart').click(function() {
        $(this).toggleClass('liked');
      });
      // comment expander
      $('.toggleList a').click(function() {
        $('.toggleList').toggleClass('toggleExpanded');
        $('section.all').toggleClass('expanded');
        $('.mask').toggle();
        var scrollHeight = $('.list').prop('scrollHeight');
        var height = $('.list').height();
        if (scrollHeight === height){
        	$('.list').css('max-height', listHeight);	
        } // collapse              
        else {
        	$('.list').css('max-height', scrollHeight + 'px');
        	$('.toggleList a').hide();
        }// expand
      });
      // header line random color
      $('.header').css('border-bottom-color', colors.getRandom());
      // button ripple effect
      $(".addComment a").click(function(e) {
        var ink, d, x, y;
        if ($(this).find(".ink").length === 0) {
          $(this).prepend("<span class='ink'></span>");
        }
        ink = $(this).find(".ink");
        ink.removeClass("animate");
        if (!ink.height() && !ink.width()) {
          d = Math.max($(this).outerWidth(), $(this).outerHeight());
          ink.css({
            height: d,
            width: d
          });
        }
        x = e.pageX - $(this).offset().left - ink.width() / 2;
        y = e.pageY - $(this).offset().top - ink.height() / 2;
        ink.css({
          top: y + 'px',
          left: x + 'px'
        }).addClass("animate");
      });
      // default list height
      $('.list').css('max-height', listHeight);
    });        
	</script>

<body ng-app="maid" ng-controller="detail-employ">
  <script src="/angular-animate/angular-animate.js"></script>
  <script src="/angular-aria/angular-aria.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.js"></script>

	<script>
		angular.module("maid", ['ngMaterial'])
    .factory("$config", function(){
        return {
          post: {
              post: {
                  headers: {"Content-Type": "application/json;charset=UTF-8"}
              }
          }
          , Firstname : <%- JSON.stringify(firstname) %> 
          , Image : <%- JSON.stringify(image) %> 
        }
    })
		.controller("detail-employ", function($scope,$http,$config,$filter){	
      $scope.image = $config.Image;
      $scope.firstname = $config.Firstname;
      $scope.commentList = [];
      $http.get("../detailemployer/<%= id %>.json")
      .then(function (res) {
        console.info("emp/:id.json : ", res);
        $scope.model = res.data;
        $.fn.stars = function() {
          return $(this).each(function() {
            var rating = $scope.model.rating;
            var numStars = 5;
            var fullStar = new Array(Math.floor(rating + 1)).join('<i class="fa fa-star"></i>');
            var halfStar = ((rating%1) !== 0) ? '<i class="fa fa-star-half-empty"></i>': '';
            var noStar = new Array(Math.floor(numStars + 1 - rating)).join('<i class="fa fa-star-o"></i>');
            $(this).html(fullStar + halfStar + noStar);
          });
        }
        $('.stars').stars();
      })
      .catch(function (err) {
        console.error("emp/:id.json : ", err);
        alert("Catch Error", err);
      })
      var now = new Date();
      $http.get("../requestemployment/list.json")
      .then(function (res) {
        console.info("requestemployment/list.json : ",res);
        $scope.modelreq = res.data;
        $scope.data = [];
        var _date = $filter('date');
        $scope.modelreq.forEach(function(e){
          empdate =  _date(e.employ_date.replace('z', '+0700'));
          creatdate =  _date(e.created_date.replace('z', '+0700'));
          employdate = new Date(empdate);
          createddate = new Date(creatdate);
          var Cdiff = (createddate.getTime() - now.getTime());   
          var Cseconds = Math.floor(Cdiff / 1000);
          var Cminutes = Math.floor(Cseconds / 60);
          var Chours = Math.floor(Cminutes / 60);
          var Ediff = (employdate.getTime() - now.getTime());   
          var Eseconds = Math.floor(Ediff / 1000);
          var Eminutes = Math.floor(Eseconds / 60);
          var Ehours = Math.floor(Eminutes / 60);
          var Edays = Math.floor(Ehours / 24);
          var mm = e;
          if(Chours >= -48 && Chours <= 0 && Edays >= 0){
            $scope.data.push(mm);
          }
          if ($scope.data != false) {
            $scope.notiLenght = $scope.data.length;
            console.info($scope.data.length);  
          }
        })
      })
      .catch(function (err) {
        console.error(err);
        alert("Catch Error",err);
      })
      $scope.items = ['Accident Insurance'];

      $http.get("../detailemployer/<%= id %>.comment")
      .then(function (res) {
        console.info("detailemployer/<%= id %>.comment : ",res);
        $scope.commentdata = res.data;
        $scope.commentdata.forEach(function(e){
          $scope.commentList.push({'imgUrl': e.imagemaid,
              'fullName': e.maidname,
              'date': e.created_date,
              'commentHtml': e.comment
            });
        })
        console.info("commentList : ",$scope.commentList);
      })
      .catch(function (err) {
        console.error(err);
        alert("Catch Error",err);
      })

      $scope.commentsRendered = function() {
        setTimeout(function() {
          $('.expandWrap').toggle($('.list').prop('scrollHeight') > $('.list').height());
        }, 0);
      }
      if ($scope.commentList.length == 0){
        $('.expandWrap').hide();
      }
      var cnt=0;
      $scope.getCheckbox = function(){          
        cnt=cnt+1;
        console.info("cnt : ", cnt);
        var countclick = cnt % 2;
        console.info("countclick : ", countclick);

        if (countclick != 0 && !!totalprice) {
          insuranceprice = 50;
          $scope.total == $scope.model.wage - insuranceprice;
        }
        else if (countclick == 0 && !!totalprice){
          insuranceprice = 0;
          $scope.total == $scope.model.wage;
        }         
      }
      $scope.submit = function(obj){
        console.info("submit : ",obj);
        $http.post("../detailemployer/editemploy", JSON.stringify({obj}), $config.post)
          .then(function(res){
            console.info("post : ", res);
            alert("SAVE SUBMIT");
            var idemp = res.data;
            window.location.href = '../../contractt/'+idemp;              
          }, function(err){
            console.error(err);
          }
        )     
      }
      $scope.cancelEmploy = function(id){
        $http.post("../detailemployer/cancel", JSON.stringify({id}), $config.post)
          .then(function(res){
            console.info("post : ", res);
            window.location.href = '../../requestemployment';                             
          }, function(err){
            console.error(err);
          }
        )
      }
    })
    .directive('repeatDone', function() {
      return function(scope, element, attrs) {
        if (scope.$last) { // all comments rendered
          scope.$eval(attrs.repeatDone);
        }
      }
    });
	</script>

  <% include navbar-employer.ejs %>

	<div class="card">
	  <img src="../../{{model.imagename}}" alt="" class="card-media" />
	  <div class="card-details">
	    <h2 class="card-head">{{model.empname}}</h2>
	    <span class="card-head-small" ng-hide="model.detail.insurance == 'true'">
        <i class="fa fa-dollar fa-fw"></i> Price : {{model.wage - 30}}
      </span>
      <span class="card-head-small" ng-show="model.detail.insurance == 'true'">
        <i class="fa fa-dollar fa-fw"></i> Price : {{model.wage - 130}}
      </span>
	    <div class="card-stars clearfix">
	      <div class="card-stars-list">
	        <span class="stars" ></span>
	        <span class="card-stars-text">({{model.rating}})</span>
	      </div>	      
	    </div>
	    <h4 class="card-descrip">Description</h4>
	    <p class="card-body-text">{{model.aboutme}}</p>
      <h4 class="card-descrip">Detail Employment</h4>
      <p class="card-body-text">
        Date : {{model.employ_date | date : 'd MMM yyyy'}}<br>
        Time : {{model.starttime | date : 'HH:mm'}} - {{model.endtime | date : 'HH:mm'}}<br>
        Address : {{model.home}} {{model.soi}} {{model.road}} {{model.subdistrict}} {{model.district}} {{model.city}}<br>
      </p>

    <div class="wrap-button" style="width: 100%;">
			<a class="btn btn-default" id="modal-button" type="button" ng-click="modal(model)" data-toggle="modal" data-target="#modalSubmit" type="button" style="width: 45%; float: left; margin: 0 2.5%;"><i class="fa fa-check fa-fw"></i> Confirm</a>
      <a ng-click="cancelEmploy(model.id_employ)" class="btn btn-default" type="button" style="width: 45%; float: left; margin: 0 2.5%;"><i class="fa fa-close fa-fw"></i> Decline</a>
    </div>
    
    <div class="all">
			<div class="info">
				<div class="total">
					<span>{{commentList.length}}</span> Comments
				</div>
			</div>
			<div class="list" ng-class="{noComments: commentList.length == 0}">
				<section ng-repeat="comment in commentList" repeat-done="commentsRendered()">
					<div class="comment-row">
						<div class="commentPhoto">
							<img ng-src="{{comment.imgUrl}}" alt="" />
						</div>
						<div class="commentDetails">
							<span class="commentUser">{{comment.fullName}}</span>
							<span class="commentDate">{{comment.date}}</span>
							<div class="commentText">{{comment.commentHtml}}</div>
						</div>
					</div>
				</section>
			</div>
			<div class="expandWrap">
				<div class="mask"></div>
				<div class="toggleList"><a><i class="fa fa-angle-double-down"></i></a></div>
			</div>
    </div>
  </div>
  
  <form class="modal fade" id="modalSubmit" role="dialog" style="" method="POST" ng-submit="submit(model)">
        <div class="modal-dialog" style="width: 80%; margin: 200px auto;">
          <div class="modal-content" style="padding: 10px;">
            <div class="modal-body">
              <h4 style="text-align: center; margin-bottom: 10px;">Are you sure?</h4>
                  <p style="font-size: 16px;">
                    Date : {{model.employ_date | date : 'd MMM yyyy'}}<br>
                    Time : {{model.starttime | date : 'HH:mm'}} - {{model.endtime | date : 'HH:mm'}}<br>
                    Address : {{model.home}} {{model.soi}} {{model.road}} {{model.subdistrict}} {{model.district}} {{model.city}}<br>
                    <div ng-repeat="item in items">
                        <md-checkbox class="blue" id="check" style="font-size: 16px;" ng-model="model.accident">
                              {{ item }}
                        </md-checkbox>  
                    </div>
                    <div ng-show="model.detail.insurance != 'true' && !model.accident">Wage : {{model.wage - 30}} Bath</div>
                    <div ng-show="model.detail.insurance == 'true' && !model.accident">Wage : {{model.wage - 130}} Bath</div>
                    <div ng-show="model.detail.insurance != 'true' && !!model.accident">Wage : {{model.wage - 80}} Bath</div>
                    <div ng-show="model.detail.insurance == 'true' && !!model.accident">Wage : {{model.wage - 180}} Bath</div>
                  </p>
              <button class="btn btn-default" type="button" data-dismiss="modal" xonclick="window.history.back();">Cancle</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-success" ng-disabled="saving"><i class="fa fa-save"></i> Submit</button>
            </div><!-- modal-body -->                 
          </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </form><!-- modal -->

</body>
</html>